<section>
    <div class="container">
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Quantity</th>
      <th scope="col">Quality</th>
      <th scope="col">SNF</th>
      <th scope="col">Fat</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      {{#each dmilks}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.qty}}</td>
      <td>{{this.qly}}</td>
      <td>{{this.snf}}</td>
      <td>{{this.fat}}</td>
      <td><a href="#" class="btn btn-primary">Pay</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
</section>